* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* .MuiButtonBase-root {
  padding: 2000px;
} */

/* @media screen and (max-width: 1000px) {
  .combo-box {
    display: hidden;
  }
} */
